#mark6-main-container-wrapper {
    top: 0;
    margin: 1em;
}

#mark6-contactus-page {
    min-height: 350px;
}

#mark6-tabs-panel {
    margin-left: 0;
    margin-right: 0;
}

.title {
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    color: #282c3f;
}

.description {
    margin-bottom: 1em;
    font-weight: 500;
    color: #696e79;
    word-wrap: break-word;
}

.contact {
    border-collapse: collapse;
}

.contact tr td {
    padding: 0.25em;
    padding-left: 0;
    padding-right: 1em;
}

#mark6-location-google-map {
    text-decoration:none;
    overflow:hidden;
    height:330px;
    width:330px;
    max-width:100%;
}

@media (min-width: 47.999em) {
	/* Desktop-view **/
	#mark6-location-google-map {
        height:500px;
        width:500px;
    }
}