#mark6-main-container-wrapper {
    top: 0;
    margin: 1em;
}

#mark6-tabs-panel {
    margin-left: 0;
    margin-right: 0;
}

.title {
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    color: #282c3f;
}

.description {
    margin-bottom: 1em;
    font-weight: 500;
    color: #696e79;
    word-wrap: break-word;
}

.contact {
    border-collapse: collapse;
}

.contact tr td {
    padding: 0.25em;
    padding-left: 0;
    padding-right: 1em;
}