* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html > body {
	font-size: 80%;
	margin: 0;
	background: #FFFEFE;
	background-size: cover;
}

.vertical-center {
	line-height: 50px;
}

.margin-left-0 {
	margin-left: 0;
}

.fade {
	opacity: 0.6;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

#mark6-footer {
    border-top: 1px solid #d5d6d9;
    margin-top: 3em;
    padding-top: 2em;
    margin-bottom: 4em;
}

#footer-text {
    color: #696e79;
}

.footer-link {
    color: #696e79;
    cursor: pointer;
    text-decoration: none;
}

.footer-link:hover {
    color: #696e79;
    text-decoration: underline;
}

.social {
    height: 32px;
    width: 32px;
    background-image: url('../img/social-icon-set.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-color: #fff;
    margin: 0;
    margin-left: 0.5em;
    cursor: pointer;
}

.follow {

}

.keep-in-touch {
    display: inline-block;
    vertical-align: super;
    font-size: 1.5em;
    margin-right: -11px;
}

.facebook {
    background-position: 8px;
}

.instagram {
    background-position: -64px 0px;
}

.twitter {
    background-position: -32px 0px;
}