#mark6-menu {
    display: block;
}

#mark6-menu.affix {
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(255,255,255,0.9);
    padding: 0;
    position: fixed;
}

.custom-wrapper {
    background-color: #fff;
    margin-bottom: 1em;
    border-bottom: 1px solid #E4E4E4;
    -webkit-font-smoothing: antialiased;
    height: 4.75em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 16em;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 14px;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pure-menu-link:hover {
    color: #899752;
    background-color: transparent;
}

.pure-menu-heading {
    font-size: 3em;
    padding-top: 0.15em;
    text-transform: capitalize;
}

.pure-menu-item {
    text-transform: uppercase;
    font-weight: bold;
}

#menu-items {
    width: 49% !important;
}

@media (max-width: 47.999em) {
    .custom-toggle {
        display: block;
    }
    
    #toggle {
    	margin-right: 1em;
    	line-height: normal;
    	padding: 7px;
    	border: 1px solid #E4E4E4;
    	min-width: 50px;
    	border-radius: 7px;
    }
}
