#mark6-main-container-wrapper {
    top: 0;
    margin: 1em;
}

.mark6-catalog-product {
	margin: 1.5em 0 2em 0;
}

.mark6-catalog-product-img {
	border: 1px solid #d5d6d9;
	margin: 0;
	margin-bottom: 20px;
	cursor: pointer;
	position: relative;
}

.mark6-catalog-product-img:hover {
	border: 1px solid #899752;
	opacity: 0.7;
}

.mark6-catalog-product-name {
    text-align: center;
    color: #3e4152;
    position: relative;
    font-size: 1.2em;
}

.mark6-catalog-product-price {
    color: #282c3f;
    font-weight: bold;
}

.mark6-catalog-product-img-hover {
    border: 1px solid black;
    position: absolute;
    z-index: 100;
    padding: 1em;
    display: none;
    bottom: 0;
    width: 100%;
    background: #fff;
    border: none;
    border-top: 1px solid #899752;
}

.size {
    display: inline-block;
    background-color: #fff;
    border: 1px solid #282c3f;
    padding: 0;
    min-width: 23px;
    height: 23px;
    text-align: center;
    margin-top: 0;
    margin-right: 10px;
    cursor: pointer;
    color: #282c3f;
    line-height: 22px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font-weight: 500;
}

.size:hover {
    background-color: #899752;
    color: #fff;
    font-weight: 500;
    border: 1px solid #899752;
}

@media (min-width: 47.999em) {
	/* Desktop-view **/
    .mark6-catalog-product {
        margin: 1.5em 2.5em 2em 0;
    }
}